[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
evm_version = "paris"

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = false

[rpc_endpoints]
monad = "${MONAD_RPC_URL}"
monad_testnet = "${MONAD_TESTNET_RPC_URL}"
localhost = "http://127.0.0.1:8545"
